@{
/*
    Author:         Nick Dechativong
    Created Date:   04/23/2020
    Class:          CIS 234A
    Objective:      This razor page presents user profile data for user to reveiw and submit for changes
*/
}

@model AccountManagement.ViewModels.userRegistration

@{
    ViewData["Title"] = "Profile";
}

<h1>Welcome back, @Html.DisplayFor(model => model.fullName)</h1>
<br />
<div>
    <h4>User Profile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.emailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.emailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>
    </dl>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Subscribe to Location(s)
        </dt>
        <dd class="col-sm-10"></dd>

            @{
                foreach (var pantry in Model.userSubscriptions)
                {
                    @:
                <dt class="col-sm-2"></dt>
                <dd class="col-sm-10">
                    <input type="checkbox"
                           name="selectedLocations"
                           value="@pantry.locationId"
                           @(Html.Raw(pantry.subscribed ? "checked=\"checked\"" : "")) disabled />
                    @pantry.locationName
                </dd>
            }
            }
        </dl>
</div>


@{ // TODO: Sprint 2 - add form submission logic for updating user profile
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
