@page
@model AccountManagement.Pages.AccountCreation.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>userAccount</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userAccount.userName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userAccount.userName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userAccount.passwordHash)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userAccount.passwordHash)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userAccount.fullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userAccount.fullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userAccount.emailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userAccount.emailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userAccount.isActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userAccount.isActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userAccount.createdDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userAccount.createdDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userAccount.roleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userAccount.roleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userAccount.telePhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userAccount.telePhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.userAccount.userId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
